Repository copperpoddigital/create-agent-esf5vx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-core-team, @api-team, @data-team, @vector-search-team, @services-team, @devops-team, @terraform-experts, @ansible-experts, @monitoring-team, @container-experts, @kubernetes-experts, @ci-cd-team, @documentation-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-admins

# Backend application code
src/backend/app/core/ @backend-core-team
src/backend/app/api/ @api-team
src/backend/app/models/ @data-team
src/backend/app/schemas/ @data-team
src/backend/app/crud/ @data-team
src/backend/app/db/ @data-team
src/backend/app/vector_store/ @vector-search-team
src/backend/app/services/ @services-team
src/backend/app/utils/ @backend-core-team

# Infrastructure code
infrastructure/ @devops-team
infrastructure/terraform/ @terraform-experts
infrastructure/ansible/ @ansible-experts
infrastructure/monitoring/ @monitoring-team
infrastructure/docker/ @container-experts
infrastructure/k8s/ @kubernetes-experts

# CI/CD workflows
.github/workflows/ @ci-cd-team

# Documentation
docs/ @documentation-team

# Scripts
scripts/ @devops-team
src/backend/scripts/ @backend-core-team

# Tests
src/backend/tests/ @qa-team

# Security-related files
src/backend/app/core/security.py @security-team @backend-core-team
SECURITY.md @security-team

Add public-samples/create-agent-esf5vx/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @ci-cd-team

Add public-samples/create-agent-esf5vx/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @ci-cd-team

Add public-samples/create-agent-esf5vx/.github/workflows/dependency-updates.yml
  .github/workflows/dependency-updates.yml
Owners: @ci-cd-team

Add public-samples/create-agent-esf5vx/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @ci-cd-team

Add public-samples/create-agent-esf5vx/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/docs/README.md
  docs/README.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/api/authentication.md
  docs/api/authentication.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/api/documents.md
  docs/api/documents.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/api/feedback.md
  docs/api/feedback.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/api/openapi.json
  docs/api/openapi.json
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/api/query.md
  docs/api/query.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/architecture/component-design.md
  docs/architecture/component-design.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/architecture/data-flow.md
  docs/architecture/data-flow.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/architecture/security.md
  docs/architecture/security.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/architecture/system-overview.md
  docs/architecture/system-overview.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/development/ci-cd.md
  docs/development/ci-cd.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/development/setup.md
  docs/development/setup.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/development/testing.md
  docs/development/testing.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/backup-recovery.md
  docs/operations/backup-recovery.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/maintenance.md
  docs/operations/maintenance.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/scaling.md
  docs/operations/scaling.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/operations/troubleshooting.md
  docs/operations/troubleshooting.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/user-guide/api-integration.md
  docs/user-guide/api-integration.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/user-guide/document-management.md
  docs/user-guide/document-management.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/user-guide/feedback.md
  docs/user-guide/feedback.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/user-guide/getting-started.md
  docs/user-guide/getting-started.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/docs/user-guide/searching.md
  docs/user-guide/searching.md
Owners: @documentation-team

Add public-samples/create-agent-esf5vx/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/ansible/inventories/dev.ini
  infrastructure/ansible/inventories/dev.ini
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/inventories/prod.ini
  infrastructure/ansible/inventories/prod.ini
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/inventories/staging.ini
  infrastructure/ansible/inventories/staging.ini
Owners: @ansible-experts
