Repository copperpoddigital/create-agent-esf5vx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-core-team, @api-team, @data-team, @vector-search-team, @services-team, @devops-team, @terraform-experts, @ansible-experts, @monitoring-team, @container-experts, @kubernetes-experts, @ci-cd-team, @documentation-team, @qa-team, @security-team

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/alb/variables.tf
  infrastructure/terraform/modules/alb/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/ecs/main.tf
  infrastructure/terraform/modules/ecs/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/scripts/README.md
  scripts/README.md
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/backup-database.sh
  scripts/backup-database.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/cleanup-old-backups.sh
  scripts/cleanup-old-backups.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/deploy-prod.sh
  scripts/deploy-prod.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/deploy-staging.sh
  scripts/deploy-staging.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/generate-test-data.sh
  scripts/generate-test-data.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/health-check.sh
  scripts/health-check.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/monitor-performance.sh
  scripts/monitor-performance.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/rebuild-vector-index.sh
  scripts/rebuild-vector-index.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/restore-database.sh
  scripts/restore-database.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/scripts/rotate-keys.sh
  scripts/rotate-keys.sh
Owners: @devops-team

Add public-samples/create-agent-esf5vx/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/.env.example
  src/backend/.env.example
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/README.md
  src/backend/README.md
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/config.py
  src/backend/config.py
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/main.py
  src/backend/main.py
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/app/api/__init__.py
  src/backend/app/api/__init__.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/dependencies.py
  src/backend/app/api/dependencies.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/router.py
  src/backend/app/api/router.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/__init__.py
  src/backend/app/api/v1/__init__.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/__init__.py
  src/backend/app/api/v1/endpoints/__init__.py
Owners: @api-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-admins

# Backend application code
src/backend/app/core/ @backend-core-team
src/backend/app/api/ @api-team
src/backend/app/models/ @data-team
src/backend/app/schemas/ @data-team
src/backend/app/crud/ @data-team
src/backend/app/db/ @data-team
src/backend/app/vector_store/ @vector-search-team
src/backend/app/services/ @services-team
src/backend/app/utils/ @backend-core-team

# Infrastructure code
infrastructure/ @devops-team
infrastructure/terraform/ @terraform-experts
infrastructure/ansible/ @ansible-experts
infrastructure/monitoring/ @monitoring-team
infrastructure/docker/ @container-experts
infrastructure/k8s/ @kubernetes-experts

# CI/CD workflows
.github/workflows/ @ci-cd-team

# Documentation
docs/ @documentation-team

# Scripts
scripts/ @devops-team
src/backend/scripts/ @backend-core-team

# Tests
src/backend/tests/ @qa-team

# Security-related files
src/backend/app/core/security.py @security-team @backend-core-team
SECURITY.md @security-team
