Repository copperpoddigital/create-agent-esf5vx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-core-team, @api-team, @data-team, @vector-search-team, @services-team, @devops-team, @terraform-experts, @ansible-experts, @monitoring-team, @container-experts, @kubernetes-experts, @ci-cd-team, @documentation-team, @qa-team, @security-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/auth.py
  src/backend/app/api/v1/endpoints/auth.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/documents.py
  src/backend/app/api/v1/endpoints/documents.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/feedback.py
  src/backend/app/api/v1/endpoints/feedback.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/health.py
  src/backend/app/api/v1/endpoints/health.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/api/v1/endpoints/query.py
  src/backend/app/api/v1/endpoints/query.py
Owners: @api-team

Add public-samples/create-agent-esf5vx/src/backend/app/core/__init__.py
  src/backend/app/core/__init__.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/core/config.py
  src/backend/app/core/config.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/core/logging.py
  src/backend/app/core/logging.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/core/security.py
  src/backend/app/core/security.py
Owners: @security-team, @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/core/settings.py
  src/backend/app/core/settings.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/__init__.py
  src/backend/app/crud/__init__.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/base.py
  src/backend/app/crud/base.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/crud_document.py
  src/backend/app/crud/crud_document.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/crud_document_chunk.py
  src/backend/app/crud/crud_document_chunk.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/crud_feedback.py
  src/backend/app/crud/crud_feedback.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/crud_query.py
  src/backend/app/crud/crud_query.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/crud/crud_user.py
  src/backend/app/crud/crud_user.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/db/__init__.py
  src/backend/app/db/__init__.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/db/base.py
  src/backend/app/db/base.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/db/base_class.py
  src/backend/app/db/base_class.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/db/init_db.py
  src/backend/app/db/init_db.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/db/session.py
  src/backend/app/db/session.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/__init__.py
  src/backend/app/models/__init__.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/document.py
  src/backend/app/models/document.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/document_chunk.py
  src/backend/app/models/document_chunk.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/feedback.py
  src/backend/app/models/feedback.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/query.py
  src/backend/app/models/query.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/models/user.py
  src/backend/app/models/user.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/__init__.py
  src/backend/app/schemas/__init__.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/document.py
  src/backend/app/schemas/document.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/document_chunk.py
  src/backend/app/schemas/document_chunk.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/feedback.py
  src/backend/app/schemas/feedback.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/query.py
  src/backend/app/schemas/query.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/token.py
  src/backend/app/schemas/token.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/schemas/user.py
  src/backend/app/schemas/user.py
Owners: @data-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/__init__.py
  src/backend/app/services/__init__.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/auth_service.py
  src/backend/app/services/auth_service.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/document_processor.py
  src/backend/app/services/document_processor.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/embedding_service.py
  src/backend/app/services/embedding_service.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/feedback_processor.py
  src/backend/app/services/feedback_processor.py
Owners: @services-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-admins

# Backend application code
src/backend/app/core/ @backend-core-team
src/backend/app/api/ @api-team
src/backend/app/models/ @data-team
src/backend/app/schemas/ @data-team
src/backend/app/crud/ @data-team
src/backend/app/db/ @data-team
src/backend/app/vector_store/ @vector-search-team
src/backend/app/services/ @services-team
src/backend/app/utils/ @backend-core-team

# Infrastructure code
infrastructure/ @devops-team
infrastructure/terraform/ @terraform-experts
infrastructure/ansible/ @ansible-experts
infrastructure/monitoring/ @monitoring-team
infrastructure/docker/ @container-experts
infrastructure/k8s/ @kubernetes-experts

# CI/CD workflows
.github/workflows/ @ci-cd-team

# Documentation
docs/ @documentation-team

# Scripts
scripts/ @devops-team
src/backend/scripts/ @backend-core-team

# Tests
src/backend/tests/ @qa-team

# Security-related files
src/backend/app/core/security.py @security-team @backend-core-team
SECURITY.md @security-team
