Repository copperpoddigital/create-agent-esf5vx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-core-team, @api-team, @data-team, @vector-search-team, @services-team, @devops-team, @terraform-experts, @ansible-experts, @monitoring-team, @container-experts, @kubernetes-experts, @ci-cd-team, @documentation-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-admins

# Backend application code
src/backend/app/core/ @backend-core-team
src/backend/app/api/ @api-team
src/backend/app/models/ @data-team
src/backend/app/schemas/ @data-team
src/backend/app/crud/ @data-team
src/backend/app/db/ @data-team
src/backend/app/vector_store/ @vector-search-team
src/backend/app/services/ @services-team
src/backend/app/utils/ @backend-core-team

# Infrastructure code
infrastructure/ @devops-team
infrastructure/terraform/ @terraform-experts
infrastructure/ansible/ @ansible-experts
infrastructure/monitoring/ @monitoring-team
infrastructure/docker/ @container-experts
infrastructure/k8s/ @kubernetes-experts

# CI/CD workflows
.github/workflows/ @ci-cd-team

# Documentation
docs/ @documentation-team

# Scripts
scripts/ @devops-team
src/backend/scripts/ @backend-core-team

# Tests
src/backend/tests/ @qa-team

# Security-related files
src/backend/app/core/security.py @security-team @backend-core-team
SECURITY.md @security-team

Add public-samples/create-agent-esf5vx/infrastructure/ansible/playbooks/backup.yml
  infrastructure/ansible/playbooks/backup.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/playbooks/deploy.yml
  infrastructure/ansible/playbooks/deploy.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/playbooks/setup.yml
  infrastructure/ansible/playbooks/setup.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/roles/app/tasks/main.yml
  infrastructure/ansible/roles/app/tasks/main.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/roles/common/tasks/main.yml
  infrastructure/ansible/roles/common/tasks/main.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/ansible/roles/db/tasks/main.yml
  infrastructure/ansible/roles/db/tasks/main.yml
Owners: @ansible-experts

Add public-samples/create-agent-esf5vx/infrastructure/aws/cloudformation/alb.yaml
  infrastructure/aws/cloudformation/alb.yaml
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/aws/cloudformation/ecs.yaml
  infrastructure/aws/cloudformation/ecs.yaml
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/aws/cloudformation/rds.yaml
  infrastructure/aws/cloudformation/rds.yaml
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/aws/cloudformation/s3.yaml
  infrastructure/aws/cloudformation/s3.yaml
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/aws/cloudformation/vpc.yaml
  infrastructure/aws/cloudformation/vpc.yaml
Owners: @devops-team

Add public-samples/create-agent-esf5vx/infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @container-experts

Add public-samples/create-agent-esf5vx/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @container-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/base/configmap.yaml
  infrastructure/k8s/base/configmap.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/base/deployment.yaml
  infrastructure/k8s/base/deployment.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/base/ingress.yaml
  infrastructure/k8s/base/ingress.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/base/secret.yaml
  infrastructure/k8s/base/secret.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/base/service.yaml
  infrastructure/k8s/base/service.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/overlays/dev/kustomization.yaml
  infrastructure/k8s/overlays/dev/kustomization.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/overlays/prod/kustomization.yaml
  infrastructure/k8s/overlays/prod/kustomization.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/k8s/overlays/staging/kustomization.yaml
  infrastructure/k8s/overlays/staging/kustomization.yaml
Owners: @kubernetes-experts

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/grafana/dashboards/application-dashboard.json
  infrastructure/monitoring/grafana/dashboards/application-dashboard.json
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/grafana/dashboards/database-dashboard.json
  infrastructure/monitoring/grafana/dashboards/database-dashboard.json
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/grafana/dashboards/llm-dashboard.json
  infrastructure/monitoring/grafana/dashboards/llm-dashboard.json
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/grafana/dashboards/vector-search-dashboard.json
  infrastructure/monitoring/grafana/dashboards/vector-search-dashboard.json
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @monitoring-team

Add public-samples/create-agent-esf5vx/infrastructure/terraform/.gitignore
  infrastructure/terraform/.gitignore
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/alb/main.tf
  infrastructure/terraform/modules/alb/main.tf
Owners: @terraform-experts

Add public-samples/create-agent-esf5vx/infrastructure/terraform/modules/alb/outputs.tf
  infrastructure/terraform/modules/alb/outputs.tf
Owners: @terraform-experts
