Repository copperpoddigital/create-agent-esf5vx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-core-team, @api-team, @data-team, @vector-search-team, @services-team, @devops-team, @terraform-experts, @ansible-experts, @monitoring-team, @container-experts, @kubernetes-experts, @ci-cd-team, @documentation-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-admins

# Backend application code
src/backend/app/core/ @backend-core-team
src/backend/app/api/ @api-team
src/backend/app/models/ @data-team
src/backend/app/schemas/ @data-team
src/backend/app/crud/ @data-team
src/backend/app/db/ @data-team
src/backend/app/vector_store/ @vector-search-team
src/backend/app/services/ @services-team
src/backend/app/utils/ @backend-core-team

# Infrastructure code
infrastructure/ @devops-team
infrastructure/terraform/ @terraform-experts
infrastructure/ansible/ @ansible-experts
infrastructure/monitoring/ @monitoring-team
infrastructure/docker/ @container-experts
infrastructure/k8s/ @kubernetes-experts

# CI/CD workflows
.github/workflows/ @ci-cd-team

# Documentation
docs/ @documentation-team

# Scripts
scripts/ @devops-team
src/backend/scripts/ @backend-core-team

# Tests
src/backend/tests/ @qa-team

# Security-related files
src/backend/app/core/security.py @security-team @backend-core-team
SECURITY.md @security-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/file_storage.py
  src/backend/app/services/file_storage.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/llm_service.py
  src/backend/app/services/llm_service.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/services/vector_search.py
  src/backend/app/services/vector_search.py
Owners: @services-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/__init__.py
  src/backend/app/utils/__init__.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/file_utils.py
  src/backend/app/utils/file_utils.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/pdf_utils.py
  src/backend/app/utils/pdf_utils.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/token_utils.py
  src/backend/app/utils/token_utils.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/validation.py
  src/backend/app/utils/validation.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/utils/vector_utils.py
  src/backend/app/utils/vector_utils.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/app/vector_store/__init__.py
  src/backend/app/vector_store/__init__.py
Owners: @vector-search-team

Add public-samples/create-agent-esf5vx/src/backend/app/vector_store/base.py
  src/backend/app/vector_store/base.py
Owners: @vector-search-team

Add public-samples/create-agent-esf5vx/src/backend/app/vector_store/faiss_store.py
  src/backend/app/vector_store/faiss_store.py
Owners: @vector-search-team

Add public-samples/create-agent-esf5vx/src/backend/migrations/__init__.py
  src/backend/migrations/__init__.py
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/migrations/env.py
  src/backend/migrations/env.py
Owners: @project-admins

Add public-samples/create-agent-esf5vx/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/scripts/benchmark_vector_search.py
  src/backend/scripts/benchmark_vector_search.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/scripts/create_admin.py
  src/backend/scripts/create_admin.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/scripts/generate_migrations.py
  src/backend/scripts/generate_migrations.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/scripts/rebuild_index.py
  src/backend/scripts/rebuild_index.py
Owners: @backend-core-team

Add public-samples/create-agent-esf5vx/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/__init__.py
  src/backend/tests/fixtures/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/documents/__init__.py
  src/backend/tests/fixtures/documents/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/responses/__init__.py
  src/backend/tests/fixtures/responses/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/responses/llm_responses.json
  src/backend/tests/fixtures/responses/llm_responses.json
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/vectors/__init__.py
  src/backend/tests/fixtures/vectors/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/fixtures/vectors/sample_embeddings.json
  src/backend/tests/fixtures/vectors/sample_embeddings.json
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/api/__init__.py
  src/backend/tests/integration/api/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/api/test_document_workflow.py
  src/backend/tests/integration/api/test_document_workflow.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/api/test_feedback_workflow.py
  src/backend/tests/integration/api/test_feedback_workflow.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/api/test_query_workflow.py
  src/backend/tests/integration/api/test_query_workflow.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/services/__init__.py
  src/backend/tests/integration/services/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/services/test_faiss_integration.py
  src/backend/tests/integration/services/test_faiss_integration.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/integration/services/test_llm_integration.py
  src/backend/tests/integration/services/test_llm_integration.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/unit/api/__init__.py
  src/backend/tests/unit/api/__init__.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/unit/api/test_auth.py
  src/backend/tests/unit/api/test_auth.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/unit/api/test_documents.py
  src/backend/tests/unit/api/test_documents.py
Owners: @qa-team

Add public-samples/create-agent-esf5vx/src/backend/tests/unit/api/test_feedback.py
  src/backend/tests/unit/api/test_feedback.py
Owners: @qa-team
